<div class="container-fluid">
  <div class="col-12">
    <div class="d-flex justify-content-between mt-3">
      <div class="fs-2 fw-bold">USER MANAGEMENT</div>
      <form class="d-flex justify-content-center mt-1">
        <input type="text" class="form-control" id="search-content">
        <input type="submit" id="search" class="d-none">
        <label for="search" class="btn btn-primary mx-1" id="btn-search"><i class="fa-solid fa-magnifying-glass"></i></label>
      </form>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr class="bg-primary">
          <th>Fullname</th>
          <th>Birthday</th>
          <th>Gender</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Appartment</th>
        </tr>
      </thead>
      <tbody id="list-users">

      </tbody>
    </table>
  </div>
</div>
