<div class="vw-100 vh-100 d-flex justify-content-center" id="page-login">
  <div class="card col-4 mt-5" id="login-form">
    <div id="logo-vnpt">
      <img src="../../assets/images/vnpt-logo.png" alt="" class="w-100 h-100">
    </div>
    <form>
      <div class="form-group mx-4">
        <label for="">Enter your email:</label>
        <input type="text" class="form-control">
      </div>
      <div class="d-flex justify-content-center mx-4 mt-5">
        <button class="btn btn-primary w-100 mb-3">Get a new password</button>
      </div>
      <div class="d-flex justify-content-center mt-1 mb-3">
        <a href="/login" class="mx-2 fw-bold text-decoration-none">Back to Login</a>
      </div>
    </form>
  </div>
</div>>
